title: Chris Codes .NET
email: chris@chriscodes.net
description: >- # this means to ignore newlines until "baseurl:"
  ...description...
domain: "chrisxfire.github.io"
url: "http://chrisxfire.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "" # the subpath of your site, e.g. /blog

# twitter_username: jekyllrb
github_username:  chrisxfire # was jekyll

# Build settings
theme: jekyll-theme-midnight

# remote-theme: jekyll-theme-midnight
plugins:
- jekyll-feed
 - jekyll-remote-theme

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
